.field-item::-webkit-input-placeholder,
.field-item:-moz-placeholder,
.field-item:-ms-input-placeholder {
	color: #0b0b0b;
}
.field-item:focus::-webkit-input-placeholder, 
.field-item:focus::-moz-placeholder,        
.field-item:focus:-moz-placeholder,          
.field-item:focus:-ms-input-placeholder {
	opacity: 0; 
	transition: opacity 0.3s ease;
}
.field-item:focus:required:invalid {
	border: 3px solid red;
}
.field-item:focus:required:invalid {
	border: 3px solid green;
}
.field-item {
	border: 0;
	width: 100%;
	font: 18px "PlayfairDisplayRegular", sans-serif;
}
.row-elem {
	margin-bottom:6px;
}
.input-item {
	padding: 20px 15px;    
    background-color: #c2bebc; 
}
.textarea-item {
	min-height:300px;
	resize: none;
}
